<div>
  <%= form_with(model: @data, method: :POST, url: '/secrets/create' ) do |f| %>
    <div>
      <%= f.label :provider_id, "Provider" %>
      <%= f.select :provider_id, options_for_select(@provider) %>
    </div>
    <div>
      <%= f.label :token , "Token" %>
      <%= f.text_field :token %>
    </div>
    <div>
      <%= f.label :client_id , "Client Id" %>
      <%= f.text_field :client_id %>
    </div>
    <div>
      <%= f.label :client_secret , "Client Secret" %>
      <%= f.text_field :client_secret %>
    </div>
    <%= f.submit "Submit", disable_with: 'Submiting...' %>
  <% end %>
</div>
