<div>

  <table class="table table-bordered">
  <thead>
    <tr>
      <td>Provider</td>
      <td>Token</td>
      <td>Client Id</td>
      <td>Client Secret</td>
    </tr>
  </thead>
  <tbody>
   <% @secret.each do |token| %>
      <tr>
        <td>
      <%= token.provider.name %>
        </td>
        <td>
      <%= token.token %>
        </td>
        <td>
      <%= token.client_id %>
        </td>
        <td>
      <%= token.client_secret %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>


  <%# <% if !@secret.nil? %>
    <% @secret.each do |token| %>
      <%= token.token %>
    <% end %>
  <% end %> %>
</div>
